body {
  font-family: "Raleway", sans-serif;
  color: #272829;
  overflow-x: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.homepic {
  height: 500px;
  width: 60%;
  border-radius: 66% 34% 49% 51% / 43% 45% 55% 57%;
  object-fit: cover;
  margin-top: 15%;
}



.row {
  /* background: rgba(133, 133, 133, 0.523); */
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}

.hero .social-links {
  margin-top: 10px;
  margin-left: 25px;
}

.hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

.hero .social-links a:hover {
  color: #0563bb;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

@media screen and (max-width:320px) {
  .section-title {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
  }


}

.about img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width:800px) {
  .about img {
    display: none;
  }
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

@media screen and (max-width:800px) {
  .about .content ul li:last-child {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .col-lg-6 {
    height: 176;
  }
}



.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #0563bb;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
  color: black;
}

.skills .progress {
  height: 60px;
  margin-top: 50px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
}

.skills .progress .val{
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}
.skills .progress-bar{
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}