body {
    font-family: "Raleway", sans-serif;
    color: #272829;
    overflow-x: hidden;
    
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }

.homepic{
  height: 500px;
  width: 60%;
  border-radius: 53% 47% 49% 51% / 33% 31% 69% 67% ;
  object-fit: cover;
  margin-top: 15%;
}

.row{
    /* background: rgba(133, 133, 133, 0.523); */
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}

.hero .social-links {
  margin-top: 10px;
  margin-left: 25px;
}

.hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

.hero .social-links a:hover {
  color: #0563bb;
}
